*{
    margin: 0 auto;
}

a, a:link, a:hover, a:visited{
    text-decoration: none;
    color: #ffffff;
}

h3{
    margin: 10px auto;
}

table, td, th{
    border-bottom: solid 1px #e2e2e2;
    border-collapse: collapse;
    padding: 7px;
}

th{
    color: darkgrey;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

td{
    text-align: center;
    font-size: 14px;
}

.tudo{
    background-color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
}

.linha{
    clear: both;
}

#cabecalho{
    background-color: #162e58;
    min-height: 100px;
    padding: 50px 30px 10px 30px;
    position: relative;
    min-height: 100px;
}

.divMenu{
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align: center;
    padding-left: 14%;
    padding-right: 20%;

}

.itemMenu:hover{
    background-color: #1c0465;
}

.itemMenu{
    float: left;
    color: #ffffff;
    text-align: center;
    width: 16%;
    height: 40px;
}

#h1titulocab{
    color: #fff;
    float: left;
    min-width: 50%;
    font-size: 16px;
    text-align: left;
}

#classificacao{
    width: 60%;
     ;
    padding: 20px;
}

.tdNomedoclube{
    text-align: left;
}

.thnomeclube{
    width: 50%;
}

.tdposicaoclub{
    width: 4%;
}

.h2class{
    padding: 12px;   
}

#goleadores{
    width: 60%;
    background-color: #e2e2e2;
    padding: 20px;
}

#partidas{
    width: 60%;
    background-color: #e2e2e2;
}

#tableclassi{
    width: 100%;
    background-color: #ffffff;
}

#divgoleadores{
    width: 50%;
}

.tdJogador{
    text-align: left;
    width: 90%;
}

#tablegoleadores{
    width: 100%;
    background-color: #ffffff;

}

#tablegoleadores td{
    padding: 20px 10px 10px 10px;
}

#tablepartida{
    width: 100%;
    background-color: #ffffff;

}

.ultimas5{
    width: 20%;
}


.tdimgclub{
    width: 5%;
}

.imgclub{
    max-width: 20px;
    max-height: 20px;
}

.divvitoria{
    background-image: url('./img/v.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.divderrota{
    background-image: url('./img/d.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.divempate{
    background-image: url('./img/e.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}






#partidas .tdTableJogos{
   padding: 10px 10px 10px 10px;
}

#partidas .tableJogo{
    width: 100%;
}

.tableJogo .thTablejogo{
    text-align: left;
}

.tableJogo .tdclube{
    text-align: left;
    width: 80%;
}


.tableJogo .tdHorario{
    text-align: center;
    font-size: 10px;
}

#tableJogo th, #tablepartida td{
    border-bottom: 0px;
}

